.typer-char {
    font-size: 30px;
    /*height: 48px;
    width: 21px;*/
    font-family: "pt-mono","Courier New","Courier","Lucida Sans Typewriter","Lucida Typewriter","monospace";
    font-weight: 700;
    margin: 10px 2px 10px 0px;
    display:inline;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.input-hidden {
    opacity: 0;
    width: 0;
    height: 0;
}

.letter-active {
	border-style: none none solid none;
	border-width: 3px;
	color: #3295db;
	border-radius: 0;
	animation: 2s blink 1s ease-out infinite alternate;
}

.letter-correct {
	color: #95c590;
	background-color: #edf7e7;
	transition: color .12s ease-in-out;
}

@keyframes shake {
    0%, 50%     {transform: translateX(5px);}
    25%, 75%    {transform: translateX(-5px);}
    100%        {transform: translateX(0px);}
}

@keyframes fadeOut {
   0%       {opacity: 1;}
   85%      {opacity: 1;}
   100%     {opacity: 0; display: none;}
}

@keyframes drop {
    25%         {transform: transalatY(25px);}
    100%        {transform: translateY(30px);}
}

.letter-incorrect {
	background-color: #ffdcd9;
	color: #d55b60;
	transition: color .12s ease-in-out;
}

.letter-not-entered {}

.wrong-animation {
    display: inline-block;
    position: absolute;
    animation-name: shake, fadeOut, drop;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}




.Mode-Group {
    display: flex;
    flex-direction: row;
}

.Mode-Selection {
    width: 120px;
    height: 50px;
    border: 1px solid white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
}

span {
    cursor:default;
}

.Mode-Selection-Short {
    border-radius: 0.45rem 0rem 0rem 0.45rem;
}

.Mode-Selection-Medium {
    border-radius: 0rem 0rem 0rem 0rem;
}

.Mode-Selection-Long {
    border-radius: 0rem 0.45rem 0.45rem 0rem;
}

.Mode-Selection:hover {
    background-color: rgb(59, 93, 109);
}

.Mode-Description {
    height: 200px;
    width:360px;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow: hidden;
    margin-bottom: 30px;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Mode-Group {
    display: flex;
    flex-direction: row;
}

.Mode-Selection {
    width: 120px;
    height: 50px;
    border: 1px solid white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
